<!DOCTYPE html>

<html>

<head>
    <title>Calendar</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body x-data="calendar">

    <nav class="navbar navbar-light bg-dark text-info fixed-top">
        <div class="container-fluid">
            <form class="form-inline">

                <label for="unitId">Unit: </label>
                <input x-model="unitId" class="form-control form-control-sm m-2" type="text" aria-label="unitId"
                    readonly>

                <label for="fromDate">Check in: </label>
                <input x-model="fromDate" class="col-auto form-control form-control-sm m-2" type="text"
                    aria-label="fromDate" readonly>

                <label for="toDate">Check out: </label>
                <input x-model="toDate" class="form-control form-control-sm m-2" type="text" aria-label="toDate"
                    readonly>

                <label for="guests">Guests: </label>
                <input x-model="guests" class="form-control form-control-sm m-2" type="text" aria-label="toDate">

                <label for="guests">Name: </label>
                <input x-model="name" class="form-control form-control-sm m-2" type="text" aria-label="name">

                <button x-show="selectionMade" @click.prevent="postBooking()" class="btn btn-success">Create
                    booking</button>
                <button x-show="bookingSelected" @click.prevent="deleteBooking()" class="btn btn-danger">Delete
                    booking</button>
                <div x-show="bookingId != ''" class="navbar-text ml-4 text-info">Booking ID:
                    <span x-text="bookingId"></span>

                </div>
            </form>
        </div>

    </nav>


    <div class="container-fluid fixed-top" style="margin-top: 80px">
        <table class="table">
            <tr>
                <th scope="row" style="min-width: 110px"></th>
                <th class="text-muted" scope="col" th:each="unit : ${units}" th:text="${unit}"
                    style="width: 5%; text-align: center;">
                </th>
            </tr>
        </table>
    </div>


    <div class="container-fluid" style="margin-top: 120px">

        <table class="table table-hover">

            <tr th:each="day, iStat : ${days}">

                <th scope="row" th:utext="${day.getWeekday() + '<br>' + day.getDate()}"
                    th:class="${day.isFirstDayOfMonth() ? 'border-top border-warning' : ''}" style="width: 110px">
                </th>

                <td @mouseenter="hoverDate($event.target)" @click="clickDate($event.target)" th:each="unit : ${units}"
                    th:id="${unit + '-' + day.getDate() + '-' + iStat.index}"
                    th:data-id="${day.getBookings().get(unit).getId()}"
                    th:data-guests="${day.getBookings().get(unit).getGuests()}"
                    th:data-name="${day.getBookings().get(unit).getName()}"
                    th:data-from="${day.getBookings().get(unit).getFrom()}"
                    th:data-to="${day.getBookings().get(unit).getTo()}" th:data-unit="${unit}"
                    th:class="${day.isFirstDayOfMonth() ? 'border-top border-warning' : ''}"
                    th:style="${day.getBookings().get(unit).getId() != '' ? 'background-color: ' + day.getBookings().get(unit).getColor() : ''}"
                    th:classappend="${day.getBookings().get(unit).getId() != '' ? 'booked' : 'table-default'}">

                </td>

            </tr>

        </table>
    </div>

    <script th:src="@{/assets/javascript/calendar.js}"></script>
</body>

</html>