<!DOCTYPE html>

<html>

<head>
    <title>Dashboard</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
</head>

<body>

    <div class="container-fluid fixed-top bg-dark">

        <div class="row text-light p-4">
            <div class="col-12">
                <a th:href="@{/dashboard}" class="btn btn-outline-light btn-sm">Dashboard</a>
                <a th:href="@{/dashboard(date=${yesterday})}" class="btn btn-outline-light btn-sm">
                    &#60 </a>
                <span th:text="${today}" class="btn btn-outline-light btn-sm"></span>
                <a th:href="@{/dashboard(date=${tomorrow})}" class="btn btn-outline-light btn-sm">
                    &#62 </a>
            </div>
        </div>

        <div class="row text-info text-uppercase text-center">
            <div class="col-1">
                <h3>Unit</h3>
            </div>
            <div class="col">
                <h3>Occupied</h3>
            </div>
            <div class="col-1">

            </div>
            <div class="col">
                <h3>Departures</h3>
            </div>
            <div class="col-1">

            </div>
            <div class="col">
                <h3>Arrivals</h3>
            </div>
        </div>

    </div>
    <div class="container-fluid" style="margin-top: 120px;">

        <div th:each="unit : ${units}" class="row" x-data="row">

            <div class="col-1 text-center">
                <div class="py-2">
                    <div class="card w-100 bg-info" style="height: 120px" ;>
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <h1 class="card-text" th:text="${unit}"></h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="py-2">
                    <div class="card w-100 bg-light" th:if="${model.getOccupiedForUnit(unit) != null}"
                        style="height: 120px" ;>
                        <h6 class="card-header" th:text="${model.getOccupiedForUnit(unit).getName()}">
                        </h6>
                        <div class="card-body">
                            <button th:if="${showButtons}" type="button" @click="clean($event.target)"
                                class="btn btn-outline-primary">Clean</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-1 align-items-center d-flex justify-content-center">
                <img th:if="${model.getCheckoutForUnit(unit) != null}" th:src="@{/assets/img/arrow_light.png}"
                    class="img-fluid">
            </div>

            <div class="col">
                <div class="py-2">
                    <div class="card w-100 bg-light" th:if="${model.getCheckoutForUnit(unit) != null}"
                        style="height: 120px" ;>
                        <h6 class="card-header" th:text="${model.getCheckoutForUnit(unit).getName()}">
                        </h6>
                        <div class="card-body">

                            <span th:if="${showButtons}" th:switch="${model.getCheckoutForUnit(unit).isCheckedOut()}">

                                <button th:case="false" type="button"
                                    th:data-id="${model.getCheckoutForUnit(unit).getId()}"
                                    x-init="readyToCheckIn = false" @click="checkout($event.target)"
                                    class="btn btn-outline-primary">Check
                                    out</button>

                                <button th:case="true" type="button" x-init="readyToCheckIn = true"
                                    class="btn btn-outline-success" disabled>Checked
                                    out &#10003</button>

                            </span>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-1 align-items-center d-flex justify-content-center">
                <img th:if="${model.getCheckinForUnit(unit) != null}" th:src="@{/assets/img/arrow_light.png}"
                    class="img-fluid">
            </div>

            <div class="col">
                <div class="py-2">
                    <div class="card w-100 bg-light" th:if="${model.getCheckinForUnit(unit) != null}"
                        style="height: 120px" ;>
                        <h6 class="card-header" th:text="${model.getCheckinForUnit(unit).getName()}">
                        </h6>
                        <div class="card-body">

                            <span th:if="${showButtons}" th:switch="${model.getCheckinForUnit(unit).isCheckedIn()}">
                                <button th:case="false" x-show="readyToCheckIn" type="button"
                                    th:data-id="${model.getCheckinForUnit(unit).getId()}"
                                    @click="checkin($event.target)" class="btn btn-outline-primary">Check
                                    in</button>
                                <button th:case="true" x-show="readyToCheckIn" type="button"
                                    class="btn btn-outline-success">Checked
                                    in &#10003</button>
                            </span>

                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>



    <script th:src="@{/assets/javascript/dashboard.js}"></script>

</body>

</html>