<!DOCTYPE html>

<html>

<head>
    <title>Dashboard</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
</head>

<body>

    <div class="container-fluid text-center fixed-top bg-dark">

        <div class="row text-info">
            <div class="col-1">
                <h1>Unit</h1>
            </div>
            <div class="col">
                <h1>Occupied</h1>
            </div>
            <div class="col">
                <h1>Departure</h1>
            </div>
            <div class="col">
                <h1>Arrival</h1>
            </div>
        </div>

    </div>
    <div class="container-fluid" style="margin-top: 80px;">

        <div th:each="unit : ${units}" class="row" x-data="row">

            <div class="col-1 text-center">
                <div class="py-2">
                    <div class="card w-100 bg-info" style="height: 120px" ;>
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <h1 class="card-text" th:text="${unit}"></h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="py-2">
                    <div class="card w-100 bg-light" th:if="${model.getOccupiedForUnit(unit) != null}"
                        style="height: 120px" ;>
                        <h6 class="card-header" th:text="${model.getOccupiedForUnit(unit).getName()}">
                        </h6>
                        <div class="card-body">

                            <button type="button" @click="clean($event.target)"
                                class="btn btn-outline-primary btn-sm">Clean</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="py-2">
                    <div class="card w-100 bg-light" th:if="${model.getCheckoutForUnit(unit) != null}"
                        style="height: 120px" ;>
                        <h6 class="card-header" th:text="${model.getCheckoutForUnit(unit).getName()}">
                        </h6>
                        <div class="card-body">

                            <button type="button" th:data-id="${model.getCheckoutForUnit(unit).getId()}"
                                x-init="readyToCheckIn = false" @click="checkout($event.target)"
                                class="btn btn-outline-primary btn-sm">Check
                                out</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="py-2">
                    <div class="card w-100 bg-light" th:if="${model.getCheckinForUnit(unit) != null}"
                        style="height: 120px" ;>
                        <h6 class="card-header" th:text="${model.getCheckinForUnit(unit).getName()}">
                        </h6>
                        <div class="card-body">

                            <button x-show="readyToCheckIn" type="button" class="btn btn-outline-primary btn-sm">Check
                                in</button>

                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>



    <script th:src="@{/assets/javascript/dashboard.js}"></script>

</body>

</html>